<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.dao.UserInfoMapper">
<!--    <resultMap id="{结果集映射id}" type="{Java实体类}">-->
<!--        <id column="{结果集唯一标识}" property="{实体类属性}" />-->
<!--        <result column="{结果集字段1}" property="{实体类属性}" />-->
<!--        <result column="{结果集字段2}" property="{实体类属性}" />-->
<!--    </resultMap>-->
<insert id="addUser" parameterType="com.example.mybatis.model.UserInfo">
    insert into userinfo(username,password) values ( #{username},#{password})
</insert>
</mapper>