<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ordersys.mapper.DishMapper">
    <resultMap id="BaseResultMap" type="com.example.ordersys.model.Dish">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="price" property="price"></result>
    </resultMap>
    <select id="getList" resultType="com.example.ordersys.model.Dish">
        select * from dish
    </select>
</mapper>